:root {
  --color-primary: #E63354;
  --color-secondary: #c9c8c8;
  --color-black: rgb(27, 27, 27);
  --color-black-light: rgba(0,0,0, 0.3);
  --color-black-very-light: rgba(0,0,0, 0.14);
  --color-grey: #B2AFB5;
  --color-white: #fff;
}